html{
    --lightgray: #ECECEC;
    --mediumgray: #CFCFCF;
    --brown: #3E1404;
}



.contenedor{
    color: #3E1404;
    font-family: 'Dancing Script', cursive;

}

.contenedortwo{
    color: #3E1404;
}

.gridgroup{
    color: #3E1404;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    grid-column-gap: -20px;
    grid-row-gap; 142px;
}

nav ul{
    display: flex;
    font-size: 18px;
    padding-bottom: 42px;
    padding-top: 42px;
    padding-left: 88px;
    padding-right: 0;

}

li{
    list-style-type: none;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: #3E1404;
    padding: 0px;
    padding-right: 334px;
    white-space: nowrap;

}
.titulodelcafe{
    color: #3E1404;
    padding-right: 51px;
    padding-left: 51px;
    display: flex;
    margin-top: 25px;
    

    
    

}

.titulodelcafe2{
    color: #3E1404;
    padding-right: 0;
    padding-left: 51px;
    display: flex;
    margin-top: 25px;
    

    
    

}

header{
    background-color: #ECECEC;
    color: #3E1404;
    background-image: url(../img/Rectangle\ 9.png);
    background-size: cover;
    height: 406px;
}

.imageandtext{
    padding-top: 44px;
}

.twoheader{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    padding-left: 88px
    ;
}

.twopara{
    font-size: 18px;
    font-weight: normal;
    font-family: 'Mulish', sans-serif;
    max-width: 477px;
    padding-top: 19px;
    padding-left: 88px;
    

}



body{
    background-color: #ECECEC;
}

.menutitle{
    margin: 0;
    padding-bottom: 28px;
    font-size: 18px;
    margin-top: 113px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    padding-left: 88px;

}

.menugrid{
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    grid-column-gap: 258px;
    grid-row-gap: 113px;
    margin-bottom: 113px;
    margin-left: 88px;
    margin-right: 88px;
}

table{
    width: 100%;
    font-size: 18px;
}

td{
    font-family: 'Mulish', sans-serif;
    line-height: 160%;
}



footer{
    background-color: #CFCFCF;
    font-family: 'Mulish', sans-serif;
    color: #3E1404;
    padding-left: 88px;
    font-size: 18px;

}
.locationinfo{
    font-size: 18px;
    padding-bottom: 5px;
}

.contactinfo{
    font-size: 18px;
    padding-bottom: 5px;
}


.footerfooter{
    max-width: 270px;

}
}

.h3{
    position:relative;

}

.location












@media screen and (max-width: 375px){
  
}

@media screen and (min-width: 376px) and (max-width: 768) {
  .tablegrid{
    display: grid;
	grid-template-columns: 1fr 1fr;

}
.footergrid{
    display: grid;
    grid-template-columns: 370px 370px;
    max-width: 1280px;
    margin: 0 auto;
    gap: 300px;
    padding-top: 68px;
    padding-bottom: 68px;
    text
    max-block-size: border: ;

}
}

@media screen and (min-width: 769px){
    .tablegrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footergrid{
        display: grid;
        grid-template-columns: 370px 370px;
        max-width: 1280px;
        margin: 0 auto;
        gap: 300px;
        padding-top: 68px;
        padding-bottom: 68px;
        text
        max-block-size: border: ;
    
    }
}